<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.web.mapper.Mapper" >
	<resultMap id="Patient" type="com.hospital.web.domain.Patient">
       <id property="id" column="pat_id"/>
       <result property="nurID" column="nur_id"/>
       <result property="docID" column="doc_id"/>
       <result property="pass" column="pat_pass"/>
       <result property="name" column="pat_name"/>
       <result property="gen" column="pat_gen"/>
       <result property="jumin" column="pat_jumin"/>
       <result property="addr" column="pat_addr"/>
       <result property="phone" column="pat_phone"/>
       <result property="email" column="pat_email"/>
       <result property="job" column="pat_job"/>
	</resultMap>
	<resultMap id="Doctor" type="com.hospital.web.domain.Doctor" >
		<id property="id" column="doc_id"/>
		<result property="pass" column="doc_pass"/>
		<result property="name" column="doc_name"/>
		<result property="gen" column="doc_gen"/>
		<result property="phone" column="doc_phone"/>
		<result property="email" column="doc_email"/>
		<result property="major" column="major_treat"/>
		<result property="position" column="doc_position"/>
	</resultMap>
	<resultMap id="Nurse" type="com.hospital.web.domain.Nurse" >
		<id property="id" column="nur_id"/>
		<result property="pass" column="nur_pass"/>
		<result property="name" column="nur_name"/>
		<result property="gen" column="nur_gen"/>
		<result property="phone" column="nur_phone"/>
		<result property="email" column="nur_email"/>
		<result property="major" column="major_job"/>
		<result property="position" column="nur_position"/>
	</resultMap>
	<resultMap id="Article" type="com.hospital.web.domain.Article">
		 <id property="seq" column="art_seq"/>
      <result property="writerId" column="writer_id"/>
      <result property="name" column="name"/>
      <result property="title" column="title"/>
      <result property="content" column="content"/>
      <result property="regDate" column="reg_date"/>
      <result property="readCount" column="read_count"/>
	</resultMap>
   <insert id="registPatient">
    INSERT INTO ${group}(pat_id,pat_pass,pat_name,pat_gen,pat_phone,pat_email,pat_job,pat_jumin,pat_addr,doc_id,nur_id) 
   VALUES ( #{id}, #{pass}, #{name}, #{gen}, #{phone}, #{email},#{job}, #{jumin}, #{addr}, #{docID}, #{nurID})
   </insert>
   <insert id="registDoctor">
   INSERT INTO ${group}( ) VALUES (#{id}, #{name})
   </insert>
   <insert id="registNurse">
   INSERT INTO ${group}( ) VALUES (#{id}, #{name})
   </insert>
   <insert id="registerChartFile">
   		INSERT INTO Chart(chart_contents) VALUES (#{chartContents})
   		WHERE chart_id = #{chartId}
   </insert>
   <!-- TODO 
   <insert id="registArticle" parameterType="hashmap"> 
		INSERT INTO Buy(write_date,patient_id,title)
		VALUES(now(),#{patient_id},#{title},SYSDATE());
	</insert>
	-->
  <select id="findPatient" resultMap="Patient" parameterType="hashMap">
  	SELECT * FROM ${group} WHERE ${key} = #{value}
  </select>
   <select id="findDoctor" resultMap="Doctor" parameterType="hashMap">
  	SELECT * FROM ${group} WHERE ${key} = #{value}
  </select>
  <select id="findNurse" resultMap="Nurse" parameterType="hashMap">
  	SELECT * FROM ${group} WHERE ${key} = #{value}
  </select>
  <select id="findPatients" resultMap="Patient" parameterType="hashMap">
  	SELECT * FROM ${group} 
  	 WHERE
	  <if test="state != null">
	    state = #{state}
	  </if>
	  <if test="title != null">
	    AND title like #{title}
	  </if>
	  <if test="author != null and author.name != null">
	    AND author_name like #{author.name}
	  </if>
  </select>
   <select id="findDoctors" resultMap="Doctor" parameterType="hashMap">
  	SELECT * FROM ${group} 
  	 WHERE
	  <if test="state != null">
	    state = #{state}
	  </if>
	  <if test="title != null">
	    AND title like #{title}
	  </if>
	  <if test="author != null and author.name != null">
	    AND author_name like #{author.name}
	  </if>
  </select>
  <select id="findNurses" resultMap="Nurse" parameterType="hashMap">
  	SELECT * FROM ${group} 
  	WHERE
	  <if test="state != null">
	    state = #{state}
	  </if>
	  <if test="title != null">
	    AND title like #{title}
	  </if>
	  <if test="author != null and author.name != null">
	    AND author_name like #{author.name}
	  </if>
  </select>
  <select id="chartList" resultType="com.hospital.web.domain.Chart" parameterType="hashMap">
  	SELECT * FROM ChartView 
  	WHERE patientId = #{value} and chartId IS NOT NULL
  </select>
  <select id="articleList" resultMap="Article" parameterType="hashMap">
		select t2.*
			from (select @ROWNUM := @ROWNUM + 1 AS rownum
		            ,t.title 
		            ,t.content 
		            ,t.reg_date
		            ,t.art_seq 
     		from   Article t
           ,(SELECT @ROWNUM := 0) R
			     ORDER BY t.reg_date DESC
		     ) t2
		where t2.rownum between #{start} and #{end}
		order by t2.rownum asc;
	</select>
  <select id="count" resultType="int" parameterType="hashMap">
    	SELECT COUNT(*) FROM ${group}
  </select>
  <select id="exist" resultType="int" parameterType="hashMap">
     SELECT COUNT(*) FROM ${group} WHERE ${key} = #{value}
  </select>
  
<!-- 



     	<select id="getBuy" resultType="com.rainbow.app.buy.BuyDTO" parameterType="int">
	    SELECT 
    		buy_seq AS buySeq,
    		member_seq AS memberSeq,
    		vod_name AS vodName,
   			DATE_FORMAT(buy_date,'%Y-%m-%d %T') AS buyDate
    	FROM Buy
    	WHERE member_seq = #{memberSeq}
	</select> 
	<select id="selectByName" parameterType="com.rainbow.web.member.MemberDTO" resultType="com.rainbow.web.member.MemberDTO"> 
		SELECT 
    		id,
			password,
			name,
			birth,
			addr,
			email,
   			point,
   			grade,
   			DATE_FORMAT(reg_date,'%Y-%m-%d %T') AS regDate
    	FROM Member
    	WHERE name = #{name}
	</select>
	
  <select id="find1" resultType="com.hospital.web.domain.Patient">
     
  		SELECT  
  			pat_id AS patID,
	    	nur_id AS nurID,
	    	doc_id AS docID,
	    	pat_pass AS patPass,
	    	pat_name AS patName,
	    	pat_gen AS patGen,
	    	pat_jumin AS patJumin,
	    	pat_addr AS patAddr,
	    	pat_phone AS patPhone,
	    	pat_email AS patEmail,
	    	pat_job AS patJob
  		FROM Patient WHERE id = ‘ACTIVE’
  
  <if test="title != null">
    	AND title like #{title}
  </if>
</select>
<select id="find2" resultType="com.hospital.web.domain.Patient">
     
  SELECT 
  			pat_id AS patID,
	    	nur_id AS nurID,
	    	doc_id AS docID,
	    	pat_pass AS patPass,
	    	pat_name AS patName,
	    	pat_gen AS patGen,
	    	pat_jumin AS patJumin,
	    	pat_addr AS patAddr,
	    	pat_phone AS patPhone,
	    	pat_email AS patEmail,
	    	pat_job AS patJob
   FROM Patient WHERE state = ‘ACTIVE’
  <if test="title != null">
    AND title like #{title}
  </if>
  <if test="author != null and author.name != null">
    AND author_name like #{author.name}
  </if>
</select>
 <select id="find3" resultType="com.hospital.web.domain.Patient">
     
  		SELECT 
  			pat_id AS patID,
	    	nur_id AS nurID,
	    	doc_id AS docID,
	    	pat_pass AS patPass,
	    	pat_name AS patName,
	    	pat_gen AS patGen,
	    	pat_jumin AS patJumin,
	    	pat_addr AS patAddr,
	    	pat_phone AS patPhone,
	    	pat_email AS patEmail,
	    	pat_job AS patJob
   		FROM Patient WHERE state = ‘ACTIVE’
  <choose>
    <when test="title != null">
      AND title like #{title}
    </when>
    <when test="author != null and author.name != null">
      AND author_name like #{author.name}
    </when>
    <otherwise>
      AND featured = 1
    </otherwise>
  </choose>
</select>
<select id="find4" resultType="com.hospital.web.domain.Patient">
     
  SELECT 
  			pat_id AS patID,
	    	nur_id AS nurID,
	    	doc_id AS docID,
	    	pat_pass AS patPass,
	    	pat_name AS patName,
	    	pat_gen AS patGen,
	    	pat_jumin AS patJumin,
	    	pat_addr AS patAddr,
	    	pat_phone AS patPhone,
	    	pat_email AS patEmail,
	    	pat_job AS patJob
   FROM Patient
  WHERE
  <if test="state != null">
    state = #{state}
  </if>
  <if test="title != null">
    AND title like #{title}
  </if>
  <if test="author != null and author.name != null">
    AND author_name like #{author.name}
  </if>
</select>
<select id="find5" resultType="com.hospital.web.domain.Patient">
     
  SELECT 
  			pat_id AS patID,
	    	nur_id AS nurID,
	    	doc_id AS docID,
	    	pat_pass AS patPass,
	    	pat_name AS patName,
	    	pat_gen AS patGen,
	    	pat_jumin AS patJumin,
	    	pat_addr AS patAddr,
	    	pat_phone AS patPhone,
	    	pat_email AS patEmail,
	    	pat_job AS patJob
   FROM Patient
  <where>
    <if test="state != null">
         state = #{state}
    </if>
    <if test="title != null">
        AND title like #{title}
    </if>
    <if test="author != null and author.name != null">
        AND author_name like #{author.name}
    </if>
  </where>
</select>

<select id="selectPostIn" resultType="com.hospital.web.domain.Patient">
  SELECT 
  			pat_id AS patID,
	    	nur_id AS nurID,
	    	doc_id AS docID,
	    	pat_pass AS patPass,
	    	pat_name AS patName,
	    	pat_gen AS patGen,
	    	pat_jumin AS patJumin,
	    	pat_addr AS patAddr,
	    	pat_phone AS patPhone,
	    	pat_email AS patEmail,
	    	pat_job AS patJob
  FROM POST P
  WHERE ID in
  <foreach item="item" index="index" collection="list"
      open="(" separator="," close=")">
        #{item}
  </foreach>
</select>
<select id="find7" resultType="com.hospital.web.domain.Patient">
  <bind name="pattern" value="'%' + _parameter.getTitle() + '%'" />
  SELECT 
  			pat_id AS patID,
	    	nur_id AS nurID,
	    	doc_id AS docID,
	    	pat_pass AS patPass,
	    	pat_name AS patName,
	    	pat_gen AS patGen,
	    	pat_jumin AS patJumin,
	    	pat_addr AS patAddr,
	    	pat_phone AS patPhone,
	    	pat_email AS patEmail,
	    	pat_job AS patJob
   FROM Patient
  WHERE title LIKE #{pattern}
</select>
<select id="selectList" parameterType="com.rainbow.web.movie.MovieDTO" resultType="com.rainbow.web.movie.MovieDTO">
		SELECT movie_seq AS movieSeq, rating, title, genre, open_date AS openDate, grade, runningtime,director,actor,content,image 
		FROM Movie
		ORDER BY rating DESC
		LIMIT #{start}, #{end}
	</select>
	
	<select id="selectByName" parameterType="com.rainbow.web.movie.MovieDTO" resultType="com.rainbow.web.movie.MovieDTO"> 
		SELECT movie_seq AS movieSeq, rating, title, genre, open_date AS openDate, grade, runningtime,director,actor,content,image 
		FROM Movie
		WHERE ${title} LIKE CONCAT('%',#{title},'%')
	</select>
		
	<select id="selectBySearch" parameterType="com.rainbow.web.movie.MovieDTO" resultType="com.rainbow.web.movie.MovieDTO"> 
		SELECT movie_seq AS movieSeq, rating, title, genre, open_date AS openDate, grade, runningtime,director,actor,content,image 
		FROM Movie
		WHERE ${keyField} LIKE CONCAT('%',#{keyWord},'%') 
		ORDER BY rating DESC
		LIMIT #{start}, #{end}
	</select>
	-->
  <update id="updatePatient">
  UPDATE ${group}
    <set>
      <if test="username != null">username=#{username},</if>
      <if test="password != null">password=#{password},</if>
      <if test="email != null">email=#{email},</if>
      <if test="bio != null">bio=#{bio}</if>
    </set>
  WHERE ${key}=#{value}
</update>
    <update id="updateDoctor">
  UPDATE ${group}
    <set>
      <if test="username != null">username=#{username},</if>
      <if test="password != null">password=#{password},</if>
      <if test="email != null">email=#{email},</if>
      <if test="bio != null">bio=#{bio}</if>
    </set>
  WHERE ${key}=#{value}
</update>
  <update id="updateNurse">
  UPDATE ${group}
    <set>
      <if test="username != null">username=#{username},</if>
      <if test="password != null">password=#{password},</if>
      <if test="email != null">email=#{email},</if>
      <if test="bio != null">bio=#{bio}</if>
    </set>
  WHERE ${key}=#{value}
</update>
  <delete id="delete" parameterType="hashMap">
		DELETE 
		FROM ${group} 
		WHERE ${key} = #{value}
	</delete>
  
  
  
  
  
  

</mapper>


